name: Sync Fork

on:
  schedule:
    - cron: '*/30 * * * *' # every 30 minutes
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: zwping/fork-sync@v1.6.5
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          base: master
          head: master
          repo: AzurLaneAutoScript
          owner: LmeSzinc
          auto_approve: true
          ignore_fail: true
